/* Import Fonts: 
Family: Alata, Weight: 400
Family: Josefin Sans, Weight: 300
*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* Variables: */
:root {
  --gray: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  font-size: 15px;
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.header{
  height: 80vh;
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  padding-left: 10rem;
  padding-right: 10rem;
}

.desktop-img{
  display: block;
}

.mobile-nav, .mobile-img, .mobile-menu{
  display:none;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5rem;
}

.navbar-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

ul .navbar-link{
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
  align-self: center;
}

.header-box{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 10rem;
  border: 2px solid white;
  width: 70%;
}

.header-box > h1{
  color: white;
  font-size: 5rem;
  letter-spacing: 10px;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 5rem;
}

@media (max-width: 1400px) {
  .header-box > h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1300px) {
  .container{
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .header-box{
    width: 100%;
  }
  .header-box > h1 {
    font-size: 2.5rem;
  }
}

/* INTRODUCTION SECTION */

.introduction{
  margin-top: 8rem;
  position: relative;
}

.intro-box{
  position: absolute;
  background-color: white;
  right: 10rem;
  bottom: 0;
  width: 50%;
  padding-top: 5rem;
  padding-left: 5rem;
}

.intro-img{
  width: 60%;
}

.intro-box > h2{
  color: black;
  font-size: 3rem;
  text-transform: uppercase;
}

.intro-box > p{
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--dark-gray);
}

@media (max-width: 1439px){
  .intro-img{
    width: 60%;
  }

  .intro-box{
    right: 10rem;
    bottom: 0;
    width: 50%;
    padding-top: 5rem;
    padding-left: 5rem;
  }

  .intro-box > h2{
    font-size: 2.5rem;
  }

  .intro-box > p{
    margin-top: 3rem;
    font-size: 1rem;
  }
}

@media (max-width: 1200px){
  .intro-box{
    width: 20%;
    padding-top: 3rem;
    padding-left: 3rem;
    right: 5rem;
    width: 50%;
  }
}

@media (max-width: 1110px){
  .intro-box{
    width: 20%;
    padding-top: 2rem;
    padding-left: 2rem;
    right: 5rem;
    width: 50%;
  }

  .intro-box > h2 {
    font-size: 2rem;
  }

  .intro-box > p {
    margin-top: 1.5rem;
  }
}

/* CREATIONS SECTION */

.creations{
  margin-top: 12rem;
  position: relative;
  margin-bottom: 10rem;
}

.creations-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.creations-header > h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.button {
  background-color: white;
  border-radius: 0px;
  border: 1px solid black;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 3rem;
  align-self: center;
  letter-spacing: 4px;
  cursor: pointer;
}

.button:hover{
  background-color: black;
  color: white;
}

.btn-bottom{
  display: none;
}

.creations-grid{
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  grid-template-columns: 20% 20% 20% 20%;
  row-gap: 35px;
}

.grid-img{
  width: 100%;
  height: auto;
  position: relative;

}

.img-container::after{
  content: "";
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s;
}

.img-container{
  cursor: pointer;
  position: relative;
  color: white;
}

.img-container:hover::after{
  content: "";
  background: rgba(255,255,255,0.7);
}

.img-container:hover{
  color: black;
}

.img-container > h2{
  font-size: 2rem;
  font-weight: lighter;
  position: absolute;
  bottom: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  z-index: 2;
}

.overlay{
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px){
  .img-container > h2 {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
}

/* FOOTER SECTION */

footer{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left{
  display: flex;
  flex-direction: column;
}

.footer-links > ul{
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  list-style: none;
  color: white;
  font-weight: bold;
}

.footer-links > ul > li {
  cursor: pointer;
}

.footer-right{
  display: flex;
  flex-direction: column;
}

.footer-socials{
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

.footer-socials > a {
  cursor: pointer;
}

.footer-copyright{
  text-align: end;
  margin-top: 1.5rem;
  color: var(--gray);
  line-height: 150%;
}

/* UNDERLINE ON LINK HOVER CLASS */

.underline{
  position: relative
}

.underline::before{
  content: '';
  display: block;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -0.4em;
  left: 0;
  right: 0;
  transform: scale(0,1);
  transition: transform ease-in-out 250ms;
}

.underline:hover::before{
  transform: scale(0.5,1);
}

/* MOBILE LAYOUT */

@media( max-width: 920px){
  .desktop-img{
    display: none;
  }
  .mobile-img{
    display: block;
  }
  .container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header{
    height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* MOBILE NAVBAR */
  .navbar{
    display: none;
  }
  .mobile-nav{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5rem;
    z-index: 2;
  }
  .hamburger-btn{
    height: 20px;
    align-self: center;
    cursor: pointer;
  }
  .close-btn{
    display: none;
    height: 25px;
    align-self: center;
    cursor: pointer;
  }
  .mobile-menu{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    background: black;
    color: white;
    animation: slide-in ease-in 0.25s;
  }
  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  .mobile-link{
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 4rem;
    padding-left: 1rem;
    list-style: none;
  }

  /* INTRODUCTION SECTION MOBILE */
  .introduction{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .intro-img{
    width: 100%;
  }
  .intro-box{
    text-align: center;
    position:static;
    width: 100%;
    padding: 0;
    padding-top: 2.5rem;
  }

  /* CREATIONS SECTION MOBILE */
  .creations{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  .creations-header{
    justify-content: center;
    margin-bottom: 2rem;
  }
  .creations-header > h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
  }

  .btn-top{
    display: none;
  }
  .btn-bottom{
    display: block;
    margin-top: 3rem;
  }

  .creations-grid{
    grid-template-columns: 1fr;
  }

  footer{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-logo{
    align-self: center;
  }
  .footer-links > ul{
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .footer-socials{
    align-self: center;
  }
  .footer-copyright{
    text-align: center;
  }
}

@media (max-width: 470px){
  .header-box > h1{
    font-size: 1rem;
    line-height: 30px;
  }
}